/**
 * Eksamen december 2021 - multimediedesign
 **/

/* Adobe fonts */
@import url("https://use.typekit.net/vev2uxc.css");
/* font-family: futura-pt, sans-serif; font-weight: 300; font-style: italic; */
@import url("https://use.typekit.net/vev2uxc.css");
/* font-family: futura-pt-medium-oblique, sans-serif; font-weight: 500; font-style: italic; */
@import url("https://use.typekit.net/iet2zpy.css");
/* font-family: 'franklin-gothic-urw', sans-serif; font-weight: 300; font-style: normal; */
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,100&display=swap');
/* font-family: 'Tourney', cursive; */

/* Variabler */
:root{

  /* farver */
--white: #ffffff;
--offwhite: #f1ecdf;
--beige: #d3ba92;
--grey: #383633;
--black: #241B16;

/* Fonte */
--overskrift: 'futura-pt-medium-oblique', sans-serif; /*overskrifter */
--brødtekst: 'franklin-gothic-urw', sans-serif; /*brødtekst */
--tourney: 'Tourney', cursive; /*underoverskrifter h2*/
--futura: 'futura-pt', sans-serif;
}

h1{
  font-size: 30px;
  font-family: var(--overskrift);
}

h2{
  font-size: 28px;
  font-family: var(--tourney);

}

h3{
  font-size: 28px;
  font-family: var(--futura);
}

p{
  font-size:  17px;
  font-family: var(--brødtekst);
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Wrap */
#wrap {
  min-height: 100vh;
  margin: auto;
  background-color: var(--offwhite);

}

/* Baggrundsfarve */
body{
  background-color: var(--offwhite);
}

/* MENUBAR */
#navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
}

/* Dropdown Button - https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropbtn {
  color: var(--black);
  padding-bottom: 16px;
  padding-top: 16px;
  font-family: var(--brødtekst);
  font-size: 130%;
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  z-index: 1;
  margin-top: 16px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--brødtekst);
  font-size: 130%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--grey);
  color: var(--white);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--grey)

}

.dropbtn:hover {
  color: var(--grey);
  cursor: pointer;
  color: white;

}

/* BURGERMENU */
 nav a {
  color: var(--black);
  text-decoration: none;
}


/* MENUBAR */
#navigationburger {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    width: 100%;
    color: var(--black);
}

/* Dropdown Button - https://www.w3schools.com/howto/howto_css_dropdown.asp */
.btnburger {
  color: var(--black);
  font-family: var(--overskrift);
  font-size: 170%;
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.navburger {
  padding: 20px;
}




/* Video øverst på Landing page */

video{
  padding-top: 10px;
  height: 200px;
  width: 100%;
}

.videowrapper{
  position:relative;
  float: none;
  padding-top: 1px;
}


/* Om Louise Wulf kampagnen flexbox */
* {
  box-sizing: border-box;
}

.flex-container-1 {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  padding: 40px;
  flex: 50%;
  text-align: center;
}


.flex-item-right {
  padding: 10px;
  flex: 50%;
}

.flex-item-right img{
  width:100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Banner om bæredygtighed */
section{
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
  background-color: var(--grey);
}

section h2{
  color: white;
text-align: center;
}

section p{
  color: white;
  text-align: center;
  font-size: 13px;
}


a{
  color: white;
}



/* Ny emballage flexbox */

.flex-item-left-2{
  padding-top: 100px;
  padding-bottom: 10px;
}

.flex-item-left-2 img{
  width: 100%;
}


.flex-item-right-2 h3{
  font-size: 25px;
  text-align: center;
}

.flex-item-right-2 p{
  font-size: 16px;
  padding-right: 40px;
  text-align: center;
  padding-bottom: 80px;
}



/* Konkurrence vind Smeg produkter */
/* Billede */
#konkurrence-billede img{
  width: 100%;
  padding-top: 100px;
}

.flex-item-left-3 p{
  font-size: 8px;
  text-align: center;
  padding-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 50px;
}



/* FOOTER */
.ikoner img{
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 55px;
}

/*---footer email box---*/
.footer-email-container{
  background-color: var(--grey);
  height: 55px;
  padding-top: 10px;
}


.footer-email-form{
text-align: center;
color: white;
font-size: 11px;
font-family: var(--futura);
padding-top: 5px;
padding-bottom: 5px;
padding-right: 8px;
}


#footer-email::placeholder{
  color: beige;
}


#footer-email-btn{
  width: 80px;
  height: 20px;
  background-color: white;
  font-family: var(--brødtekst);
  border: none;
  color: black;
  font-size: 11px;
  margin-left: 4px;
}


#footer-email-btn:hover{
}

/*---footer ---*/

.flex-container-footer{
  padding-left: 40px;
  background-color: var(--black);
  margin-top: -15px;
  color: white;
  padding-bottom: 50px;
}

.flex-container-footer h3{
  padding-top: 40px;
  font-size: 18px;
}

.flex-container-footer p{
  font-size: 13px;
  padding-right: 40px;
}

.flex-omos a:link{
  color: white;
}

#amo-detaljer{
  margin-top: -20px;
}

#amo-detaljer p{
  background-color: var(--black);
  color: white;
  font-size:9px;
  text-align: center;
  padding-top: 8px;
  height: 40px;
}



/* copyright nederst på siden */
#copyright {
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
}

.copyright {
  background-color: var(--offwhite);
  padding-bottom: 1px;
}




    /* Underside - bæredygtighed */

/* Arbejdet med bæredygtighed */

.header-bæredygtighed{
    padding-bottom: 50px;
}

.header-bæredygtighed h1{
  padding-top: 50px;
  font-size: 25px;
  text-align: center;
  padding-bottom: 30px;


}

.header-bæredygtighed p{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;

}


/* Flexboxe med billede og tekst om bæredygtighed */

.flexb p{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 14px;
}

.flexbox2{
  padding-bottom: 100px;
}

.flexbox2 p{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 14px;
}


/* banner fra jord til bord */
.info-banner{
  background-color: var(--beige);
  color: white;
  padding: 5%;
margin-bottom: 100px;
}

.info-banner p{
  font-size: 14px;
}


/* arbejdet med fra jord til bord sektion */
.infosection{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 70px;
}

.infosection h3{
  font-size: 25px;
}

.infosection p{
  font-size: 16px;
}


/* vi har et ansvar banner */

.info-banner-2{
  display: flex;
background-color: var(--grey);
color: white;
margin-bottom: 100px;
padding: 5%;
}

.info-banner-2 h2{
  text-align: left;
    padding-left: 50px;
}
.info-banner-2 p{
  font-size: 14px;
  text-align: left;
  padding-right: 10%;
  padding-left: 50px;
}

.info-banner-2 img{
  padding-right: 100px;

}

    /* Underside Tips og tricks */
header p{
  font-size: 17px;
  text-align: center;
  padding-top: 40px;
}
header h1{
  font-size: 23px;
  text-align: center;
  padding-bottom: 60px;
}


/* infographic om meltyper */
#infographic img{
  width:100%;
  padding-bottom: 100px;
}

/* Personaers tips og tricks */
.tipsogtricks{
  text-align: center;

}

.tipsogtricks h3{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
}

.tipsogtricks p{
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 100px;
  font-size: 16px;
  text-align: left;
}



/* banner flere tips og tricks - bag med rug */
.bagmedrug{
  background-color: var(--beige);
  padding: 5%;
}

.bagmedrug h2{
  color: white;
  font-size: 20px;
  padding-left: 10%;
}

.bagmedrug p{
font-size: 16px;
padding-left: 10%;
padding-right: 10%;
}

/* Opskrifter med rugmel */
.column img{
  width: 100%;
}








/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  /* navbar burgermenu ved lille skærm */
  .burgermenu{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burgermenu .bar{
    height: 3px;
    width: 100%;
    background-color: var(--black);
    border-radius: 10px;
  }
  .dropdown{
    display: none;
  }

/* Ny emballage flexbox */


.flex-item-right-2 h3{
  font-size: 20px;
}

.flex-item-right-2 p{
      font-size: 15px;
      text-align: center;
      margin-right: 10%;
      margin-left: 17%;
    }


    /*---footer email box---*/
    .footer-email-container{
      background-color: var(--grey);
      height: 55px;
      padding-top: 10px;
    }


    .footer-email-form{
    text-align: center;
    color: white;
    font-size: 13px;
    font-family: var(--futura);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    }


    #footer-email::placeholder{
      color: beige;

    }


    #footer-email-btn{
      width: 80px;
      height: 20px;
      background-color: white;
      font-family: var(--brødtekst);
      border: none;
      color: black;
      font-size: 11px;
      margin-left: 4px;

    }


    #footer-email-btn:hover{
      background-color: var(--offwhite);
    }




            /* underside bæredygtighed */

/* Arbejdet med bæredygtighed */
.header-bæredygtighed h1{
  padding-top: 50px;
  font-size: 25px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.header-bæredygtighed p{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;
}


/* Flexboxe med billede og tekst om bæredygtighed */

.flexb p{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 14px;
  padding-bottom: 40px;
}

.flexb img{
  padding-left: 10%;
  padding-right: 10%;
}



/* banner fra jord til bord */
.info-banner{
  background-color: var(--beige);
  color: white;
  padding: 5%;
margin-bottom: 70px;
text-align: center;
}


/* arbejdet med fra  jord til bord */

.infosection{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
}

.infosection h3{
  font-size: 25px;
}

.infosection p{
  font-size: 16px;
}

/* vi har et ansvar banner */

.info-banner-2{
  display: flex;
background-color: var(--grey);
color: white;
margin-bottom: 100px;
padding: 5%;
}

.info-banner-2 h2{
  text-align: left;
    padding-left: 50px;
}
.info-banner-2 p{
  font-size: 14px;
  text-align: left;
  padding-right: 10%;
  padding-left: 50px;
}

.info-banner-2 img{
  display: none;

}

        /* Underside Tips og tricks */
header p{
font-size: 17px;
text-align: center;
padding-top: 40px;
}
header h1{
font-size: 25px;
text-align: center;
padding-bottom: 60px;
}

/* infographic om meltyper */
#infographic img{
width:100%;
padding-bottom: 100px;
}

/* Personaers tips og tricks */
.tipsogtricks{
text-align: center;

}

.tipsogtricks img{
  width: 50%;
}

.tipsogtricks h3{
padding-left: 10%;
padding-right: 10%;
font-size: 20px;
}

.tipsogtricks p{
padding-left: 20%;
padding-right: 20%;
padding-bottom: 100px;
font-size: 14px;
text-align: left;
}



/* banner flere tips og tricks - bag med rug */
.bagmedrug{
background-color: var(--beige);
padding: 5%;
}

.bagmedrug h2{
color: white;
font-size: 20px;
padding-left: 10%;
}

.bagmedrug p{
font-size: 14px;
padding-left: 10%;
padding-right: 10%;
}


/* Opskrifter med rugmel */
.opskrifter h1{
font-size: 23px;
text-align: center;
padding-top: 100px;
}

.opskrifter img{
width: 80%;
padding-left: 20%;
}

.opskrifter h3{
font-size: 17px;
padding-bottom: 50px;
text-align: center;
}


/* Opskrifter med rugmel */
.column img{
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

/* Opskrifter med rugmel */
.column img{
  width: 100%;

}

.column{
  display: contents;

}

.row h1{
padding-top: 100px;
padding-bottom: 30px;
font-size: 25px;
text-align: center;

}

.row h3{
font-size: 17px;
text-align: left;
padding-bottom: 50px;
padding-left: 30px;
padding-right: 30px;
}


            /* Underside Opskrifter - tidens trends */

.opskrift{
  padding-left: 10%;
  padding-right: 10%;
}
#overskrift p{
  font-size: 20px;

}

#tekst p{
  font-size: 15px;
}
 #tekst img{
   padding-top: 50px;
 }


 /* flere trends sektion med billeder*/

.fleretrends h3{
  padding-top: 100px;
   text-align: center;
 }

.flex-trends img{
padding-left: 15%;
padding-right: 15%;
}

.flex-trends p{
padding-bottom: 40px;
padding-left: 15%;

}
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {

  /* navbar burgermenu ved lille skærm */
  .burgermenu{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burgermenu .bar{
    height: 3px;
    width: 100%;
    background-color: var(--black);
    border-radius: 10px;
  }
  .dropdown{
    display: none;
  }

/* Ny emballage flexbox */

      .flexcontainer-2{
        padding-left: 30%;
        padding-right: 20%;
      }
      .flex-item-left-2{
        padding-top: 100px;
        padding-bottom: 10px;
      }

      .flex-item-left-2 img{
        width: 100%;
      }

      .flex-item-right-2{
        text-align: left;

      }

      .flex-item-right-2 h3{
        font-size: 25px;
        text-align: center;
      }

      .flex-item-right-2 p{
        font-size: 16px;
        padding-right: 40px;
        text-align: center;
        padding-left: 30%;
        padding-right: 20%;
      }

      /* Opskrifter med rugmel */
      .column img{
        width: 60%;
        height: 60%;
      }

      .column{
        padding-left: 20px;
        padding-right: 20px;
      }
      .row h1{
      padding-top: 100px;
      padding-bottom: 30px;
      font-size: 25px;
      text-align: center;

      }

      .row h3{
      font-size: 17px;
      text-align: left;
      padding-bottom: 50px;
      }



      /* Flexboxe med billede og tekst om bæredygtighed */

      .flexb p{
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 14px;
        padding-bottom: 40px;
      }

      .flexb img{
        padding-left: 30%;
        padding-right: 10%;
      }


      /* Underside Opskrifter - tidens trends */

.opskrift{
padding-left: 10%;
padding-right: 10%;
}
#overskrift p{
font-size: 20px;

}

#tekst p{
font-size: 15px;
}
#tekst img{
padding-top: 50px;
}


/* flere trends sektion med billeder*/

.fleretrends h3{
padding-top: 100px;
text-align: center;
}

.flex-trends img{
padding-left: 15%;
padding-right: 15%;
}

.flex-trends p{
padding-bottom: 40px;
padding-left: 15%;

}


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /* navbar burgermenu ved lille skærm */
  .burgermenu{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burgermenu .bar{
    height: 3px;
    width: 100%;
    background-color: var(--black);
    border-radius: 10px;
  }

  .dropdown{
    display: none;
  }




     .flex-container {
    flex-direction: row;
}

/* Ny emballage flexbox */

.flex-item-left-2{
  padding-top: 100px;
  padding-bottom: 10px;
}

.flex-item-left-2 img{
  width: 100%;
}

.flex-item-right-2{
  text-align: left;

}

.flex-item-right-2 h3{
  font-size: 25px;
  text-align: left;
  padding-left: 19%;
  padding-right: 20%;
}

.flex-item-right-2 p{
  font-size: 16px;
  padding-right: 40px;
  text-align: left;
  padding-left: 19%;
  padding-right: 20%;
}


#amo-detaljer p{
  color: white;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
}



                /* underside bæredygtighed */

/* Arbejdet med bæredygtighed */
.header-bæredygtighed h1{
  padding-top: 50px;
  font-size: 25px;
  text-align: left;
  padding-left: 25%;
  padding-right: 20%;
}

.header-bæredygtighed p{
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;
  padding-left: 25%;
  padding-right: 20%;
}


/* Flexboxe med billede og tekst om bæredygtighed */

.flexb{
display: flex;
padding-bottom: 60px;
}


.flexb p{
  text-align: left;
  font-size: 15px;
  padding-bottom: 40px;
  line-height: 2;
}

.flex-right-1{
padding-left: 10%;
padding-right: 10%;
}

.flex-right-2{
  padding-left: 10%;
  padding-right: 10%;
}


/* banner fra jord til bord */
.info-banner{
  background-color: var(--beige);
  color: white;
  padding: 5%;
margin-bottom: 100px;
text-align: center;
}


/* arbejdet med fra jord til bord section */
.infosection{
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 70px;
}

.infosection h3{
  font-size: 25px;
}

.infosection p{
  font-size: 16px;
}



.info-banner-2{
background-color: var(--grey);
color: white;
margin-bottom: 100px;
padding: 5%;
text-align: center;
}



                /* Underside tips og tricks */

/* infographic om meltyper */
#infographic img{

  width:100%;
  padding-bottom: 100px;
  padding-left: 20%;
  padding-right: 20%;

  }


/* Personaers tips og tricks */
.tipsogtricks{
text-align: center;

}

.tipsogtricks img{
  width: 40%;
}

.tipsogtricks h3{
padding-left: 10%;
padding-right: 10%;
font-size: 20px;
}

.tipsogtricks p{
padding-left: 20%;
padding-right: 20%;
padding-bottom: 100px;
font-size: 14px;
text-align: left;
}

/* Opskrifter med rugmel */
.row{
  padding-top: 100px;
  padding-bottom: 100px;
}

.row h3{
  font-size: 20px;
  padding-bottom: 100px;
}

.row h1{
  text-align: center;
  padding-bottom: 50px;

}

.column {
  float: left;
  width: 33.33%;
    padding-left: 20px;
    padding-right: 20px;
  }


.column img{
  width: 100%;
}


/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


/* Underside Opskrifter - tidens trends */


#header-billede{
padding-left: 20%;
padding-right: 20%;
padding-top: 50px;
}

.opskrift{
padding-left: 20%;
padding-right: 20%;
}

#overskrift h3{
font-size: 36px;
}

#overskrift p{
font-size: 20px;

}

#tekst p{
font-size: 15px;
}

#tekst img{
padding-top: 50px;
width: 80%;
margin-left: 50px;
}

/* flere trends sektion med billeder*/
.flex-trends{
display: flex;
width: 35%;
margin-left: 120px;

}
.fleretrends h3{
font-size: 34px;
padding-top: 100px;
padding-bottom: 10px;
text-align: center;
}

.flex-trends img{
padding-left: 15%;
padding-right: 15%;
padding-bottom: 100px;
}

.flex-trends p{
display:none;

}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  /* navbar burgermenu */
     .burgermenu{
       display:none;
     }

     .dropdown{
       display:flex;
     }
     .flex-container {
    flex-direction: row;
  }

  /* Video øverst på Landing page */

  video{
    padding-top: 50px;
    height: 600px;
    width: 100%;
  }

  /* Om Louise Wulf kampagnen flexbox */

  .flex-container-1 {
    flex-direction: row;
    }

    .flex-container-1 img{
    width:400px;
    height: 400px;
    }

  .flex-item-left h1{
    flex: 50%;
    text-align: left;
    padding-left: 270px;
    padding-bottom: 20px;
    }

  .flex-item-left p{
    text-align: left;
    padding-left: 270px;
    }

.flex-item-right{
  padding-top: 60px;
  padding-right: 270px;
}


/* Banner om bæredygtighed */
  section{
    padding-bottom: 30px;
  }

  section h2{
    text-align: left;
  }

  section p{
    text-align: left;
  }


  /* Ny emballage flexbox */
  .flex-item-left-2{
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .flex-item-left-2 img{

    width: 100%;
    }


  .flex-item-right-2 h3{
    font-size: 25px;
    text-align: left;
    padding-left: 19%;
    padding-right: 20%;
  }

  .flex-item-right-2 p{
    font-size: 16px;
    padding-right: 40px;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
  }


  /* Konkurrence vind Smeg produkter */
  /* Billede */
  #konkurrence-billede img{
    padding-top: 100px;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
  }

  .flex-item-left-3 p{
    font-size: 10px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
  }

  .flex-item-right-3 img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 50px;
      height: 50px;
      width: 20%;
  }


                /* FOOTER */

  .ikoner img{
    display: flex;
    padding-top: 10px;
    padding-bottom: 8px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
  }

  /*---footer email box---*/

  .footer-email-container{
    background-color: var(--grey);
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .footer-email-form{
  text-align: center;
  color: white;
  font-size: 17px;
  font-family: var(--futura);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  }


  #footer-email::placeholder{
    color: beige;
  }


  #footer-email-btn{
    width: 120px;
    height: 23px;
    background-color: white;
    font-family: var(--brødtekst);
    border: none;
    color: black;
    font-size: 13px;
    margin-left: 4px;
  }


  #footer-email-btn:hover{
    background-color: var(--offwhite);
  }



/*---footer kontakt og om amo---*/

  .flex-container-footer{
    display: flex;
    padding-left: 100px;
    background-color: var(--black);
    margin-top: -15px;
    color: white;
    padding-bottom: 50px;
  }

  .flex-container-footer h3{
    padding-top: 40px;
    font-size: 18px;
    padding-right: 100px;
  }

  .flex-container-footer p{
    font-size: 13px;
    padding-right: 40px;
    padding-right: 100px;
  }

  #amo-detaljer p{
    color: white;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
  }


                  /* underside bæredygtighed */
  /* Arbejdet med bæredygtighed */

  .header-bæredygtighed{
    padding-bottom: 100px;
  }
  .header-bæredygtighed h1{
    padding-top: 50px;
    font-size: 35px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
  }

  .header-bæredygtighed p{
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 17px;
  }


  /* Flexboxe med billede og tekst om bæredygtighed */

  .flexb{
  display: flex;
  padding-bottom: 60px;
  }

  .flexb p{
    line-height: 2;
  }




  /* banner fra jord til bord */
  .info-banner{
    background-color: var(--beige);
    color: white;
    padding: 3%;
  margin-bottom: 100px;
  text-align: center;
  }



/* arbejdet med fra jord til bord sektion */

  .infosection{
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 70px;
  }

  .infosection h3{
    font-size: 25px;
  }

  .infosection p{
    font-size: 16px;
  }



  .info-banner-2{
  background-color: var(--grey);
  color: white;
  margin-bottom: 100px;
  padding: 3%;
  text-align: center;
  }


                        /* Underside Tips og tricks */
/* header h1 */
header p{
font-size: 22px;
text-align: center;
padding-top: 40px;
}

header h1{
font-size: 37px;
text-align: center;
padding-bottom: 60px;
}

/* infographic om meltyper */
#infographic img{
width:100%;
padding-bottom: 100px;
padding-left: 20%;
padding-right: 20%;

}

/* Personaers tips og tricks */

.tipsogtricks img{
  height: 220px;
  padding-left: 20%;

}

.line{
  display: flex;
  padding-bottom: 50px;
}


.mads-emil{
  display:flex;
    padding-bottom: 50px;
}

.trine{
  display:flex;
    padding-bottom: 50px;
}

.tipsogtricks h3{
display: none;
}

.tipsogtricks p{
padding-left: 100px;
padding-right: 20%;
padding-top: 40px;
padding-bottom: 100px;
font-size: 16px;
text-align: left;
}



/* banner flere tips og tricks - bag med rug */
.bagmedrug{
background-color: var(--beige);
padding: 2%;
}



/* Opskrifter med rugmel */
.row{
  padding-top: 100px;
  padding-bottom: 100px;


}

.row h3{
  font-size: 20px;
  padding-bottom: 100px;
}

.row h1{
  text-align: left;
  padding-bottom: 50px;
}

.column {
  float: left;
  justify-content: center;
  width: 33.33%;
}

.column img{
  width: 100%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}



                  /* Underside Opskrifter - tidens trends */


#header-billede{
padding-left: 20%;
padding-right: 20%;
padding-top: 50px;
}

.opskrift{
padding-left: 20%;
padding-right: 20%;
}

#overskrift h3{
font-size: 36px;
}

#overskrift p{
font-size: 20px;

}

#tekst p{
font-size: 15px;
}

#tekst img{
padding-top: 50px;
width: 80%;
margin-left: 100px;


}




/* flere trends sektion med billeder*/
.flex-trends{
display: flex;
width: 35%;
margin-left: 220px;

}
.fleretrends h3{
font-size: 34px;
padding-top: 100px;
padding-bottom: 10px;
text-align: center;
}

.flex-trends img{
padding-left: 15%;
padding-right: 15%;
padding-bottom: 100px;
}

.flex-trends p{
display:none;

}

}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* navbar burgermenu */
     .burgermenu{
       display:none;
     }

     .dropdown{
       display:flex;
     }
     .flex-container {
    flex-direction: row;
  }

  /* Video øverst på Landing page */

  video{
    padding-top: 50px;
    height: 600px;
    width: 100%;
  }

  /* Om Louise Wulf kampagnen flexbox */

  .flex-container-1 {
    flex-direction: row;
    }

    .flex-container-1 img{
    width:400px;
    height: 400px;
    }

  .flex-item-left h1{
    flex: 50%;
    text-align: left;
    padding-left: 270px;
    padding-bottom: 20px;
    }

  .flex-item-left p{
    text-align: left;
    padding-left: 270px;
    }

.flex-item-right{
  padding-top: 60px;
  padding-right: 270px;
}



  /* Banner om bæredygtighed */
  section{
    padding-bottom: 30px;
  }

  section h2{
    text-align: left;
  }

  section p{
    text-align: left;
  }


  /* Ny emballage flexbox */
  .flex-item-left-2{
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .flex-item-left-2 img{
    height: 450px;
    width: 80%;
    padding-left: 270px;
  }

  .flex-item-right-2 h3{
    font-size: 25px;
    text-align: left;
    padding-left: 19%;
    padding-right: 20%;
  }

  .flex-item-right-2 p{
    font-size: 16px;
    padding-right: 40px;
    text-align: left;
    padding-left: 19%;
    padding-right: 20%;
  }



  /* Konkurrence vind Smeg produkter */
  /* Billede */
  #konkurrence-billede img{
    padding-top: 100px;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;


  }
  .flex-item-left-3 p{
    font-size: 10px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
  }

  .flex-item-right-3 img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 50px;
      height: 50px;
      width: 20%;
  }


                  /* FOOTER */

  .ikoner img{
    display: flex;
    padding-top: 10px;
    padding-bottom: 8px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
  }

  /*---footer email box---*/
  .footer-email-container{
    background-color: var(--grey);
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .footer-email-form{
  text-align: center;
  color: white;
  font-size: 17px;
  font-family: var(--futura);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;

  }


  #footer-email::placeholder{
    color: beige;
  }


  #footer-email-btn{
    width: 120px;
    height: 23px;
    background-color: white;
    font-family: var(--brødtekst);
    border: none;
    color: black;
    font-size: 13px;
    margin-left: 4px;

  }


  #footer-email-btn:hover{
    background-color: var(--offwhite);
  }

/*---footer kontakt og om amo---*/

  .flex-container-footer{
    display: flex;
    padding-left: 100px;
    background-color: var(--black);
    margin-top: -15px;
    color: white;
    padding-bottom: 50px;
  }

  .flex-container-footer h3{
    padding-top: 40px;
    font-size: 18px;
    padding-right: 100px;
  }

  .flex-container-footer p{
    font-size: 13px;
    padding-right: 40px;
    padding-right: 100px;
  }

#amo-detaljer p{
  color: white;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
}



                        /* underside Bæredygtighed */
.flexb{
display: flex;
padding-left: 20%;
padding-right: 20%;
padding-bottom: 60px;
line-height: 2;
}



                        /* Underside tips og tricks */
/* infographic om meltyper */
#infographic img{

  width:100%;
  padding-bottom: 100px;
  padding-left: 20%;
  padding-right: 20%;

}


/* Personaers tips og tricks */

.tipsogtricks img{
  height: 220px;
  padding-left: 20%;

}

.line{
  display: flex;
  padding-bottom: 50px;
}


.mads-emil{
  display:flex;
    padding-bottom: 50px;
}

.trine{
  display:flex;
    padding-bottom: 50px;
}

.tipsogtricks h3{
display: none;
}

.tipsogtricks p{
padding-left: 100px;
padding-right: 20%;
padding-top: 40px;
padding-bottom: 100px;
font-size: 16px;
text-align: left;
}

/* Opskrifter med rugmel */
.row{
  padding-top: 100px;
  padding-bottom: 100px;
    padding-left: 100px;

}

.row h3{
  font-size: 20px;
  padding-bottom: 100px;

}

.row h1{
  text-align: center;
  padding-bottom: 50px;

}

.column {
  float: left;
  justify-content: center;
  width: 33.33%;


}

.column img{
  width: 80%;

}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


              /* Underside Opskrifter - tidens trends */


#header-billede{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
}

.opskrift{
padding-left: 20%;
padding-right: 20%;
}

#overskrift h3{
  font-size: 36px;
}

#overskrift p{
font-size: 20px;

}

#tekst p{
font-size: 15px;
}

#tekst img{
padding-top: 50px;
width: 80%;
margin-left: 100px;
}

/* flere trends sektion med billeder*/
.flex-trends{
  display: flex;
  width: 35%;
  margin-left: 220px;

}
.fleretrends h3{
  font-size: 34px;
padding-top: 100px;
padding-bottom: 10px;
text-align: center;
}

.flex-trends img{
padding-left: 15%;
padding-right: 15%;
  padding-bottom: 100px;
}

.flex-trends p{
display:none;

}
}
